*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #eeeeee;
}
#admin {
    max-width: 1430px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.admin-left {
    background-color: #343a40;
    width: 16.67%;
    color: #eeeeee;
    padding: 5px 10px;
}
.logo-ad {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-bottom: 1px solid #eeeeee;
}
.avatar-user {
    padding: 20px 5px 20px 15px;
    border-bottom: 1px solid #eeeeee;
}
.menu-ad-buttom {
    margin-top: 20px;
    font-size: 14pt;
}
.menu-ad-buttom a:hover {
    color: brown;
}
.menu-ad-buttom ul li {
    padding: 10px 5px 10px 15px;
}
.admin-right {
    width: 83.33%;
}
.header-admin {
    /* margin: auto; */
    height: 63px;
    line-height: 63px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
}
.hd-ad-left {
    display: flex;
    
}
.hd-ad-left a {
    font-size: 16pt;
    color: #343a40;
}
.product {
    margin-top: 10px;
    margin-left: 20px;
}
.add-product {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-color {
    color: #ca5a2e;
    font-size: 24pt;
    font-weight: 600;
    text-decoration: underline;
}
.add-color:hover {
    color: cornflowerblue;
    text-decoration: none;
}
.list-product a {
    color: #ca5a2e;
    text-decoration: underline;
}
.content-ad h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}
.list-product table {
    margin-top: 30px;
    width: 100%; 
}
.list-product table tr {
    height: 40px;
}
.list-product table tr td {
    padding-left: 10px;
}
.list-product table tr td a i {
    color: dimgrey;
    font-size: 10pt;
}
.row-1 {
    font-weight: 600;

}
.alert {
    background-color: rgba(0, 128, 0, 0.3);
    font-size: 16pt;
    display: inline;
    padding: 10px;
    border-radius: 10px;

}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 40px;
}

.content-ad input, select, textarea {
    width: 400px;
    height: 30px;
    border: 1px solid #7c7a7a;
    border-radius: 5px;
}
.content-ad textarea {
    height: 90px;
}
.content-ad textarea, input {
    text-indent: 10px;
    display: block;
} 
.alert {
    background-color: rgba(0, 128, 0, 0.3);
    font-size: 16pt;
    display: inline;
    padding: 10px;
    border-radius: 10px;

}
.create-product {
    margin-left: 40px;
    margin-top: 25px;
}
.form {
    
}
.content-ad button {
    margin-top: 40px;
    padding: 5px 10px;
    border: 1px solid #7c7a7a;
    border-radius: 5px;
    cursor: pointer;
}
.content-ad button:hover {
    background-color: #e6e6e6;
}
.help {
    color: red;
    padding-top: 5px;
}